.img-tienda-mascota{
    width: 100px;
    height: 100px;
  }


  .navbar{
    display: flex;
    background-color:#91D9C4;
    width: 100%;
    border: solid;
    
}
  
.logo-tienda-mascota{
    background-color:#91D9C4;
    height: 80px;
}

.navbarLateral{
    width: 250px;
    
}

.nav-link {
    text-decoration: none;
    color: white;
}

.footer{
    display: flex;
    align-items: flex-end;
    margin-bottom: 500px;
}

