.img-tienda-mascota{
    width: 100px;
    height: 100px;
  }

/* .container-title{
    display: flex;
    flex-direction: row;
} */
  .navbar{
    display: flex;
    background-color:#91D9C4;
    width: 100%;
    border: solid;
    
}
  
.logo-tienda-mascota{
    background-color:#91D9C4;
    height: 80px;
}

.navbarLateral{
    width: 200px;
    
}

.nav-link {
    text-decoration: none;
    color: white;
}

.container-navbar-producto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-productos{
    padding: 30px;
    height: 100%;
}


.container-contador{
    display: flex;
    flex-direction: row;
    border: solid;
}
.suma-icon, 
.resta-icon {
    height: 10px;
    width: 15px;
    padding: 0;
}

.count{
    padding: 8px;
}
.shoppingCar{
    height: 30px;
}

.footer{
    display: flex;
    align-items: flex-end;
    margin-bottom: 500px;
}

